In [31]:
import csv
import os
import pandas as pd
pd.set_option("display.max_columns", False)

In [32]:
file_name = 'eu_life_expectancy_raw.tsv'
data_dir_path = f"{os.path.dirname(os.getcwd())}\\life_expectancy\\data\\"

In [33]:
eu_life_expectancy_raw = pd.read_csv(f"{data_dir_path}{file_name}", delimiter = '\t')

In [34]:
eu_life_expectancy_raw = pd.melt(
    eu_life_expectancy_raw, 
    id_vars='unit,sex,age,geo\\time', 
    var_name='year', 
    value_name='value'
)

In [35]:
eu_life_expectancy_raw = eu_life_expectancy_raw[eu_life_expectancy_raw['unit,sex,age,geo\\time'].str.split(',').str[-1] == 'PT']

In [36]:
eu_life_expectancy_raw = eu_life_expectancy_raw.rename(columns={'unit,sex,age,geo\\time': 'unit,sex,age,region'})

In [37]:
eu_life_expectancy_raw = eu_life_expectancy_raw[eu_life_expectancy_raw['value'].str.strip() != ':']

In [38]:
eu_life_expectancy_raw['value'] = eu_life_expectancy_raw['value'].str.split(' ').str[0]

In [39]:
cast_dic = {'year': int, 'value': float}
eu_life_expectancy_raw = eu_life_expectancy_raw.astype(cast_dic)

In [40]:
eu_life_expectancy_raw['unit'] = eu_life_expectancy_raw['unit,sex,age,region'].str.split(',').str[0]

In [41]:
new_columns = eu_life_expectancy_raw.columns[0].split(',')
for column_intex, column in enumerate(new_columns):
    column_value = eu_life_expectancy_raw['unit,sex,age,region'].str.split(',').str[column_intex]
    eu_life_expectancy_raw[column] = column_value

In [28]:
eu_life_expectancy_raw = eu_life_expectancy_raw.drop(['unit,sex,age,region'], axis=1)

In [29]:
new_order = ['unit','sex','age','region','year','value']
eu_life_expectancy_raw = eu_life_expectancy_raw.reindex(columns=new_order)
eu_life_expectancy_raw.head()

      unit sex    age region  year  value
3460    YR   F    Y65     PT  2021   21.7
4804    YR   F  Y_LT1     PT  2021   84.3
8276    YR   M    Y65     PT  2021   17.8
9620    YR   M  Y_LT1     PT  2021   78.0
13092   YR   T    Y65     PT  2021   19.9

In [14]:
eu_life_expectancy_raw.to_csv(f"{data_dir_path}eu_life_expectancy_raw.csv", index=False, escapechar='')